In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('aadhaar_demo_monthly_update_cleaned.csv')

In [3]:
df.head()

,Date,State,District,Pincode,Demo_age_5_17,Demo_age_17+
0,01-03-2025,West Bengal,Murshidabad,742402,15,165
1,01-03-2025,Manipur,Thoubal,795101,12,114
2,01-03-2025,Rajasthan,Sirohi,307513,18,201
3,01-03-2025,West Bengal,Hooghly,712311,27,480
4,01-03-2025,Himachal Pradesh,Una,174301,24,243

#### Adding Features and Refining

In [4]:
cols = ["Demo_age_5_17", "Demo_age_17+"]
df[cols].dtypes

Demo_age_5_17    object
Demo_age_17+     object
dtype: object

In [5]:
df[cols] = df[cols].apply(pd.to_numeric, errors="coerce") 

total_pop = df[cols].sum().sum()

print(float(total_pop))

46321955.0

In [6]:
df["Date"].unique()

array(['01-03-2025', '01-04-2025', '01-05-2025', '01-06-2025',
       '01-07-2025', '01-09-2025', '02-09-2025', '03-09-2025',
       '04-09-2025', '05-09-2025', '06-09-2025', '07-09-2025',
       '08-09-2025', '09-09-2025', '10-09-2025', '12-09-2025',
       '11-09-2025', '13-09-2025', '15-09-2025', '14-09-2025',
       '16-09-2025', '17-09-2025', '18-09-2025', '19-09-2025',
       '20-09-2025', '13-10-2025', '15-10-2025', 'Date', '16-10-2025',
       '17-10-2025', '26-10-2025', '18-10-2025', '19-10-2025',
       '20-10-2025', '21-10-2025', '22-10-2025', '23-10-2025',
       '24-10-2025', '25-10-2025', '27-10-2025', '28-10-2025',
       '29-10-2025', '30-10-2025', '31-10-2025', '01-11-2025',
       '02-11-2025', '03-11-2025', '04-11-2025', '05-11-2025',
       '06-11-2025', '07-11-2025', '08-11-2025', '09-11-2025',
       '10-11-2025', '11-11-2025', '12-11-2025', '13-11-2025',
       '14-11-2025', '15-11-2025', '16-11-2025', '17-11-2025',
       '19-11-2025', '18-11-2025', '01-12-2025', '02-12-2025',
       '03-12-2025', '04-12-2025', '05-12-2025', '06-12-2025',
       '08-12-2025', '07-12-2025', '09-12-2025', '10-12-2025',
       '11-12-2025', '12-12-2025', '13-12-2025', '14-12-2025',
       '15-12-2025', '16-12-2025', '18-12-2025', '19-12-2025',
       '27-11-2025', '26-11-2025', '22-12-2025', '21-12-2025',
       '20-12-2025', '25-11-2025', '28-11-2025', '29-11-2025',
       '26-12-2025', '25-12-2025', '27-12-2025', '28-12-2025',
       '31-12-2025', '29-12-2025', '23-12-2025', '24-12-2025',
       '01-01-2026', '02-01-2026', '03-01-2026', '20-11-2025',
       '21-11-2025', '22-11-2025', '24-11-2025', '23-11-2025', '27-11-20',
       '17-12-2025', '30-11-2025'], dtype=object)

In [7]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce",dayfirst=True)  # parse to datetime
df["Month"] = df["Date"].dt.to_period("M")

In [8]:
df.head()

,Date,State,District,Pincode,Demo_age_5_17,Demo_age_17+,Month
0,2025-03-01,West Bengal,Murshidabad,742402,15.0,165.0,2025-03
1,2025-03-01,Manipur,Thoubal,795101,12.0,114.0,2025-03
2,2025-03-01,Rajasthan,Sirohi,307513,18.0,201.0,2025-03
3,2025-03-01,West Bengal,Hooghly,712311,27.0,480.0,2025-03
4,2025-03-01,Himachal Pradesh,Una,174301,24.0,243.0,2025-03

In [11]:
freq = df["State"].value_counts(dropna=False).reset_index()
freq.head(40)

                                       State   count
0                                 Tamil Nadu  232944
1                             Andhra Pradesh  224865
2                              Uttar Pradesh  196888
3                                West Bengal  189387
4                                Maharashtra  179383
5                                  Karnataka  177489
6                                     Odisha  121673
7                                     Kerala  118574
8                                    Gujarat  107116
9                                  Telangana  106119
10                                 Rajasthan  105581
11                                     Bihar  102693
12                            Madhya Pradesh   84005
13                                     Assam   65407
14                                    Punjab   56744
15                                 Jharkhand   44973
16                              Chhattisgarh   37997
17                          Himachal Pradesh   32322
18                                   Haryana   31390
19                               Uttarakhand   26559
20                         Jammu and Kashmir   22855
21                                     Delhi   11192
22                                   Tripura   10506
23                                   Manipur    8267
24                                       Goa    6702
25                                 Meghalaya    5849
26                                Puducherry    5688
27                         Arunachal Pradesh    4897
28                                  Nagaland    4486
29                                   Mizoram    4264
30                                    Sikkim    3769
31                                Chandigarh    2168
32               Andaman and Nicobar Islands    1920
33  Dadra and Nagar Haveli and Daman and Diu    1412
34                                    Ladakh     984
35                               Lakshadweep     635
36                               Daman & Diu     316
37                      Dadra & Nagar Haveli      96

In [10]:
threshold = 30

vc = df["State"].value_counts(dropna=False)
rare_vals = vc[vc.lt(threshold)].index

df.drop(df[df["State"].isin(rare_vals)].index,inplace=True)

In [12]:
old_states1 = ["Daman & Diu", "Dadra & Nagar Haveli"]
new_state1  = "Dadra and Nagar Haveli and Daman and Diu"

key = ["Date", "Pincode"]                 # your “same reading” definition
sum_cols = ["Demo_age_5_17", "Demo_age_17+"]
keep_cols = ["Month"]                     # keep from the canonical row
# District should store “where it originally came from”
# (for rows that were old_states, District becomes that old state name)
# (for already-new_state rows, keep existing District)

# 0) Ensure numeric
df[sum_cols] = df[sum_cols].apply(pd.to_numeric, errors="coerce").fillna(0)

# 1) Split
df_old  = df[df["State"].isin(old_states1)].copy()
df_new  = df[df["State"].eq(new_state1)].copy()
df_rest = df[~(df["State"].isin(old_states1) | df["State"].eq(new_state1))].copy()

# 2) Old rows: store original state in District, rename State -> new_state
df_old["District"] = df_old["State"]
df_old["State"] = new_state1

# 3) Collapse duplicates *within each side* (prevents many-to-many inflation)
#    - old side: District is meaningful; keep it (if multiple, join them)
old_agg = (df_old
    .groupby(key, as_index=False)
    .agg({
        "Demo_age_5_17": "sum",
        "Demo_age_17+": "sum",
        "Month": "first",
        "State": "first",
        "District": lambda s: ",".join(sorted(set(s.dropna().astype(str))))
    })
)

#    - new side: keep Month/District as-is (pick first non-null District)
def first_non_null(s):
    s2 = s.dropna()
    return s2.iloc[0] if len(s2) else np.nan

new_agg = (df_new
    .groupby(key, as_index=False)
    .agg({
        "Demo_age_5_17": "sum",
        "Demo_age_17+": "sum",
        "Month": "first",
        "State": "first",
        "District": first_non_null
    })
)

# 4) Transfer-then-delete logic:
#    If a key exists in new_agg, add old_agg counts into it and drop that old key.
merged = new_agg.merge(
    old_agg[key + sum_cols + ["District"]], on=key, how="left", suffixes=("", "_old")
)

for c in sum_cols:
    merged[c] = merged[c] + merged[f"{c}_old"].fillna(0)

# If new District is NaN, fill it from old; otherwise keep new's District
merged["District"] = merged["District"].fillna(merged["District_old"])

merged = merged.drop(columns=[f"{c}_old" for c in sum_cols] + ["District_old"])

# 5) Keep old-only keys that didn't exist in new_agg (no match → keep as-is)
old_only = old_agg.merge(new_agg[key], on=key, how="left", indicator=True)
old_only = old_only[old_only["_merge"].eq("left_only")].drop(columns=["_merge"])

# 6) Final UT block + stitch back with rest
ut_final = pd.concat([merged, old_only], ignore_index=True)

df_final = pd.concat([df_rest, ut_final], ignore_index=True)

In [13]:
new_name = "Dadra and Nagar Haveli and Daman and Diu"

# 1) All distinct (Date, Pincode) combos + how many rows each has
combo_counts = (
    df.loc[df["State"].eq(new_name), ["Date", "Pincode"]]
      .groupby(["Date", "Pincode"])
      .size()                             # count rows in each combination
      .reset_index(name="n_rows")         # turn into a DataFrame
)

# 2) Number of distinct dates
n_dates = df.loc[df["State"].eq(new_name), "Date"].nunique()

# 3) Number of distinct pincodes
n_pincodes = df.loc[df["State"].eq(new_name), "Pincode"].nunique()

In [14]:
len(combo_counts)

784

In [15]:
freq1 = df_final["State"].value_counts(dropna=False).reset_index()
freq1.head(40)

                                       State   count
0                                 Tamil Nadu  232944
1                             Andhra Pradesh  224865
2                              Uttar Pradesh  196888
3                                West Bengal  189387
4                                Maharashtra  179383
5                                  Karnataka  177489
6                                     Odisha  121673
7                                     Kerala  118574
8                                    Gujarat  107116
9                                  Telangana  106119
10                                 Rajasthan  105581
11                                     Bihar  102693
12                            Madhya Pradesh   84005
13                                     Assam   65407
14                                    Punjab   56744
15                                 Jharkhand   44973
16                              Chhattisgarh   37997
17                          Himachal Pradesh   32322
18                                   Haryana   31390
19                               Uttarakhand   26559
20                         Jammu and Kashmir   22855
21                                     Delhi   11192
22                                   Tripura   10506
23                                   Manipur    8267
24                                       Goa    6702
25                                 Meghalaya    5849
26                                Puducherry    5688
27                         Arunachal Pradesh    4897
28                                  Nagaland    4486
29                                   Mizoram    4264
30                                    Sikkim    3769
31                                Chandigarh    2168
32               Andaman and Nicobar Islands    1920
33                                    Ladakh     984
34  Dadra and Nagar Haveli and Daman and Diu     833
35                               Lakshadweep     635

In [16]:
print(df[["Demo_age_5_17","Demo_age_17+"]].sum())
print(df_final[["Demo_age_5_17","Demo_age_17+"]].sum())

Demo_age_5_17     4242797.0
Demo_age_17+     42079119.0
dtype: float64
Demo_age_5_17     4242797.0
Demo_age_17+     42079119.0
dtype: float64

In [17]:
# Old dataset: sum of age demos where State is one of the three names
old_states2 = ["Daman & Diu","Dadra & Nagar Haveli",new_state1]

old_sum = (
    df[df["State"].isin(old_states2)][["Demo_age_5_17","Demo_age_17+"]]
    .sum()
)

# Final dataset: sum of age demos where State is the new merged name
new_sum = (
    df_final[df_final["State"]==new_state1][["Demo_age_5_17","Demo_age_17+"]]
    .sum()
)

print("Original (three names):")
print(old_sum)
print("\nFinal (merged name):")
print(new_sum)

print("\nDifference:")
print(new_sum - old_sum)

Original (three names):
Demo_age_5_17     1763.0
Demo_age_17+     10641.0
dtype: float64

Final (merged name):
Demo_age_5_17     1763.0
Demo_age_17+     10641.0
dtype: float64

Difference:
Demo_age_5_17    0.0
Demo_age_17+     0.0
dtype: float64

In [18]:
df_final.shape

(2337124, 7)

In [19]:
df = df_final

In [21]:
df_final.to_csv("aadhaar_demo_monthly_update_superclean.csv")

### Age based Calc

#### The below shows how many registered for Aadhaar sorted date wise

In [22]:
out2 = (df_final.groupby(["State","Month"])[cols].sum().reset_index().sort_values("State"))
out2.to_csv("Cleaned State Wise Data - Total Enrollments in 2025.csv",index=False)

out4 = (df_final.groupby(["State"])[cols].sum().reset_index().sort_values("State"))
out4.to_csv("State Wise Data - Total Enrollments in 2025.csv",index=False)

print(len(out2))
out2.head(60)

306

                          State    Month  Demo_age_5_17  Demo_age_17+
0   Andaman and Nicobar Islands  2025-03          114.0         895.0
1   Andaman and Nicobar Islands  2025-09           93.0        1010.0
2   Andaman and Nicobar Islands  2025-10           62.0         611.0
3   Andaman and Nicobar Islands  2025-11          114.0        1708.0
4   Andaman and Nicobar Islands  2025-12          156.0        2059.0
5   Andaman and Nicobar Islands  2026-01           13.0         101.0
15               Andhra Pradesh  2026-01         3714.0       25522.0
14               Andhra Pradesh  2025-12        54331.0      421990.0
13               Andhra Pradesh  2025-11        61949.0      320340.0
12               Andhra Pradesh  2025-10        37112.0      175479.0
11               Andhra Pradesh  2025-09        29706.0      282838.0
9                Andhra Pradesh  2025-06        16584.0       74555.0
8                Andhra Pradesh  2025-05        17811.0       95461.0
7                Andhra Pradesh  2025-04         5591.0       32464.0
6                Andhra Pradesh  2025-03        33745.0      329549.0
10               Andhra Pradesh  2025-07         8182.0       49016.0
20            Arunachal Pradesh  2025-12          820.0        5276.0
21            Arunachal Pradesh  2026-01           36.0         182.0
19            Arunachal Pradesh  2025-11          825.0        4909.0
17            Arunachal Pradesh  2025-09         2152.0        9866.0
16            Arunachal Pradesh  2025-03          720.0        6120.0
18            Arunachal Pradesh  2025-10          783.0        3329.0
22                        Assam  2025-03        12184.0      134616.0
23                        Assam  2025-04          645.0        5214.0
24                        Assam  2025-05           88.0         626.0
25                        Assam  2025-06           87.0         840.0
26                        Assam  2025-07         4031.0       27934.0
27                        Assam  2025-09        20111.0      192375.0
28                        Assam  2025-10         8441.0      116070.0
29                        Assam  2025-11        11109.0      141808.0
30                        Assam  2025-12        17390.0      239648.0
31                        Assam  2026-01         1812.0       22919.0
38                        Bihar  2025-11        46384.0      736242.0
40                        Bihar  2026-01         4612.0       49141.0
39                        Bihar  2025-12        68695.0      898839.0
37                        Bihar  2025-10        36565.0      477753.0
35                        Bihar  2025-07          628.0        7889.0
34                        Bihar  2025-05          381.0        5692.0
33                        Bihar  2025-04         1050.0        6172.0
32                        Bihar  2025-03        70594.0      726952.0
36                        Bihar  2025-09        74215.0     1237188.0
46                   Chandigarh  2025-09          748.0        5618.0
41                   Chandigarh  2025-03          816.0        5605.0
42                   Chandigarh  2025-04         2608.0        7356.0
43                   Chandigarh  2025-05          737.0        3222.0
44                   Chandigarh  2025-06          566.0        4179.0
45                   Chandigarh  2025-07         1142.0        5310.0
47                   Chandigarh  2025-10          287.0        2629.0
48                   Chandigarh  2025-11          622.0        6185.0
49                   Chandigarh  2025-12          776.0        8638.0
50                   Chandigarh  2026-01           59.0         590.0
58                 Chhattisgarh  2025-11        21799.0      232019.0
54                 Chhattisgarh  2025-06        17217.0      224004.0
60                 Chhattisgarh  2026-01         2912.0       14367.0
59                 Chhattisgarh  2025-12        35320.0      364792.0
57                 Chhattisgarh  2025-10         9018.0      119884.0
52                 Chhattisgarh  2025-04         5370.0       50009.0
55                 Chhattisgarh  2025-07        13882.0      110901.0
53                 Chhattisgarh  2025-05         6438.0       63204.0
51                 Chhattisgarh  2025-03        12411.0      180746.0

In [23]:
out1 = (df_final.groupby("Month")[cols].sum().reset_index().sort_values("Month"))
out1.head(20)

     Month  Demo_age_5_17  Demo_age_17+
0  2025-03       712681.0     7375637.0
1  2025-04       146659.0      988313.0
2  2025-05       158021.0     1038197.0
3  2025-06       151558.0     1087943.0
4  2025-07       203231.0     1355635.0
5  2025-09       895469.0     7535914.0
6  2025-10       413917.0     4039648.0
7  2025-11       673803.0     8634211.0
8  2025-12       821350.0     9409549.0
9  2026-01        66108.0      614072.0

In [24]:
out3 = (df_final.groupby("District")[cols].sum().reset_index().sort_values("District"))
out3.head()

     District  Demo_age_5_17  Demo_age_17+
0       ANGUL            2.0           9.0
1      ANUGUL            6.0         170.0
2    Adilabad         7190.0       61939.0
3  Agar Malwa         1042.0        9587.0
4        Agra        22164.0      205823.0

In [25]:
out_check = (df.groupby(["State","Month"])["District"].nunique().reset_index().sort_values("State"))

### Random Checks

In [26]:
all_combos = (
    df[["State", "District", "Month"]]
    .drop_duplicates()
)

# Step 2: build the full cartesian product of State–District with all Months
states_districts = df[["State", "District"]].drop_duplicates()
months = df["Month"].drop_duplicates()

expected = (
    states_districts.assign(key=1)
    .merge(months.to_frame().assign(key=1), on="key")
    .drop("key", axis=1)
)

# Step 3: find which combinations are missing
missing = expected.merge(all_combos, 
                         on=["State","District","Month"], 
                         how="left", 
                         indicator=True)

missing = missing[missing["_merge"] == "left_only"].drop("_merge", axis=1)

# Step 4: report
if missing.empty:
    print("✅ Every district was checked in every month")
else:
    print("❌ Some districts are missing in certain months")
    print(missing)

❌ Some districts are missing in certain months
                                         State              District    Month
11                                     Manipur               Thoubal  2025-04
12                                     Manipur               Thoubal  2025-05
13                                     Manipur               Thoubal  2025-06
14                                     Manipur               Thoubal  2025-07
21                                   Rajasthan                Sirohi  2025-04
...                                        ...                   ...      ...
9963  Dadra and Nagar Haveli and Daman and Diu  Dadra & Nagar Haveli  2025-06
9964  Dadra and Nagar Haveli and Daman and Diu  Dadra & Nagar Haveli  2025-07
9965  Dadra and Nagar Haveli and Daman and Diu  Dadra & Nagar Haveli  2025-09
9967  Dadra and Nagar Haveli and Daman and Diu  Dadra & Nagar Haveli  2025-11
9969  Dadra and Nagar Haveli and Daman and Diu  Dadra & Nagar Haveli  2026-01

[3120 rows x 3 columns]

In [27]:
# All unique states
states = df["State"].unique()

# All unique months
months = df["Month"].dropna().unique()

# Expected combinations: every state × every month
expected = pd.MultiIndex.from_product([states, months], names=["State","Month"]).to_frame(index=False)

# Actual combinations present
actual = df[["State","Month"]].drop_duplicates()

# Find missing state-month pairs
missing = expected.merge(actual, on=["State","Month"], how="left", indicator=True)
missing = missing[missing["_merge"]=="left_only"].drop("_merge", axis=1)

if missing.empty:
    print("✅ Every state occurs in every month")
else:
    print("❌ Some states are missing in certain months")
    print(missing.sort_values(["State","Month"]))

❌ Some states are missing in certain months
                                        State    Month
331               Andaman and Nicobar Islands  2025-04
332               Andaman and Nicobar Islands  2025-05
333               Andaman and Nicobar Islands  2025-06
334               Andaman and Nicobar Islands  2025-07
171                         Arunachal Pradesh  2025-04
172                         Arunachal Pradesh  2025-05
173                         Arunachal Pradesh  2025-06
174                         Arunachal Pradesh  2025-07
83                                      Bihar  2025-06
352  Dadra and Nagar Haveli and Daman and Diu  2025-05
353  Dadra and Nagar Haveli and Daman and Diu  2025-06
354  Dadra and Nagar Haveli and Daman and Diu  2025-07
251                                       Goa  2025-04
252                                       Goa  2025-05
253                                       Goa  2025-06
254                                       Goa  2025-07
223                                 Jharkhand  2025-06
224                                 Jharkhand  2025-07
51                                     Kerala  2025-04
52                                     Kerala  2025-05
53                                     Kerala  2025-06
54                                     Kerala  2025-07
321                                    Ladakh  2025-04
322                                    Ladakh  2025-05
323                                    Ladakh  2025-06
324                                    Ladakh  2025-07
340                               Lakshadweep  2025-03
341                               Lakshadweep  2025-04
342                               Lakshadweep  2025-05
343                               Lakshadweep  2025-06
344                               Lakshadweep  2025-07
11                                    Manipur  2025-04
12                                    Manipur  2025-05
13                                    Manipur  2025-06
14                                    Manipur  2025-07
302                                 Meghalaya  2025-05
303                                 Meghalaya  2025-06
304                                 Meghalaya  2025-07
291                                  Nagaland  2025-04
292                                  Nagaland  2025-05
293                                  Nagaland  2025-06
294                                  Nagaland  2025-07
161                                    Odisha  2025-04
163                                    Odisha  2025-06
311                                Puducherry  2025-04
313                                Puducherry  2025-06
281                                    Sikkim  2025-04
282                                    Sikkim  2025-05
283                                    Sikkim  2025-06
284                                    Sikkim  2025-07
261                                   Tripura  2025-04
262                                   Tripura  2025-05
263                                   Tripura  2025-06
264                                   Tripura  2025-07